* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #666;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
}

h1, h2 {
    padding: .5em;
}

header h1 {

    width: 100%;
    background-color: rgb(1, 40, 66);
    color: yellow;
}

#message {
    width: 100%;
    background-color: rgb(194, 112, 112);
    color: rgb(0, 0, 0);
}

header h2 {
    background-color: #777900;
}
main {
    width: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main div {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background-color: #988998;
}
#compChoice {
    color: green;
    background-color: yellow;
}
#playerSect div.highlight {
    border: 10px solid crimson;
}
#playerSect {
    padding: 1em;
    background-color: #9e9e5e;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    justify-content: space-around;
}
#playerSect h2 {
    flex-basis: 100%;
    background-color: #777900;
    border-radius: 15px 15px 0 0;
}
#compSect div.highlight {
    border: 10px solid #006eff;
}

#compSect {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d3d479;
    border-radius: 0 0 15px 15px;
}